:root {
  /* colors */
  --base-white: #ffffff;

  --base-grey05: #F5F5F5;
  --base-grey15: #D9DADB;
  --base-grey30: #BCBFC2;
  --base-grey50: #939699;
  --base-grey85: #4B5157;
  --base-grey95: #30363D;
  --base-grey100: #262D33;

  --grey-blue-25: #D1E2EB;
  --grey-blue-50: #B4D1E0;
  --grey-blue-75: #6E99AE;
  --blue-25: #C5E4FC;
  --blue-75: #4592FF;
  --bluegreen-75: #3BBDC4;
  --red-75: #FF4F52;
  --purple-24: #E7D9FF;
  --purple-75: #AC8EE3;
  --orange-75: #FFA34D;
  --green-75: #3DC47E;

  --twitter: #1DA1F2;
  --facebook: #4267B2;

  /* fonts */
  --small-regular-text: 400 12px/15px "Lato";
  --small-bold-text: 800 12px/15px "Lato";

  --medium-regular-text: 400 14px/20px "Lato";
  --medium-bold-text: 700 14px/20px "Lato";
  --medium-heavy-text: 800 14px/ "Lato";
  
  --headline6: 800 14px/20px "Lato";
  --headline5: 700 16px/25px "Roboto Slab";
  --headline4: 700 20px/25px "Roboto Slab";
  --headline3: 700 25px/30px "Roboto Slab";
  --headline2: 700 40px/50px "Roboto Slab";
  --headline1: 700 55px/70px "Roboto Slab";

  --category: 12px 800/15px "Lato";
}

/* padding для body необязателен на самом деле */

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
  background-color: blue;
}

img {
  max-width: 100%;
}

/* -------------------------------------------------------------- */
/* components */



/* -------------------------------------------------------------- */

.header,
.main,
.fotter {
  max-width: 1366px;
  margin: 0 auto;
}

/* header */

.header {
  background-color: white;
}

.section-in-header {
  margin: 0 auto;
  width: 1140px; 
  max-height: 135px;
  background-color: var(--base-white);
}

/* section-in-header__top */

.section-in-header__top {
  display: flex;
  border-bottom: 1px solid var(--base-grey15);
  max-height: 50px;
  align-items: center;
  padding: 0 auto;
}

/* section-in-header__left-block */

.section-in-header__left-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  max-width: 115px;
  padding: 15px 25px 15px 0px;
  border-right: 1px solid var(--base-grey15);
}

/* section-in-header__sections */

.section-in-header__sections-text {
  font: var(--medium-bold-text);
}

/* sectjion-in-header__input */

.section-in-header__input {
  width: 733px;
  font: var(--medium-regular-text);
  padding-left: 55px;

  background-image: url("../img/header-img/Search.png");
  background-repeat: no-repeat;
  background-position: 12px center;
  background-size: 16px 16px;

  border: none;
}

/* section-in-header__right-block */

.section-in-header__subscribe-block {
  display: flex;
  gap: 10px;
  max-width: 195px;
  padding-top: 7px;
  margin-right: 60px;
}

/* section-in-header__image */

.section-in-header__image {
  width: 66px;
  height: 44px;
  object-fit: cover;
  display: block;
  border-left: 3px solid var(--base-grey30);
  border-top: 3px solid var(--base-grey30);
  border-right: 3px solid var(--base-grey30);
  /* image-rendering: crisp-edges; или pixelated не помогло */
}

/* section-in-header__subscribe */

.section-in-header__subscribe-block-right {
  display: inline-block;
  margin-top: 4px;
}

/* section-in-header__sign-in-block */

.section-in-header__first {
  display: block;
  font: var(--small-bold-text);
  color: var(--base-grey100);
}

/* section-in-header__second */

.section-in-header__second {
  display: block;
  font: var(--small-regular-text);
  color: var(--base-grey50);
}

/* section-in-header__sign-in-block */

.section-in-header__sign-in-block {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* section-in-header__link */

.section-in-header__link {
  font: var(--medium-regular-text);
  color: var(--base-grey85);
}

/* section-in-header__bottom */

.section-in-header__bottom {
  display: flex;
  align-items: center;
}
/* section-in-header__left-img */

.section-in-header__left-img {
  margin-left: 30px;
  margin-right: 15px;
  display: inline-block;
}

/* section-in-header__title */

.section-in-header__title {
  font: var(--medium-regular-text);
  color: var(--base-grey85);
}

/* section-in-header__Logo */

.section-in-header__Logo {
  margin-left: 130px;
  margin-right: 186px;
}

/* section-in-header__date */

.section-in-header__date {
  /* width: 195px; */
  margin-right: 64px;
  font: var(--medium-regular-text);
  color: var(--base-grey85);
}

/* section-in-header__weather-block */

.section-in-header__weather-block {
  display: flex;
  gap: 10px;
}

/* section-in-header__value */

.section-in-header__value {
  font: var(--medium-regular-text);
  color: var(grey85);
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */

/* header__nav */

.nav {
  background-color: var(--base-grey100);
  padding: 17px 113px 18px 113px;
  max-width: 100%;
}

/* nav__ul */

.nav__ul {
  color: var(--base-white);
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
  font: var(--headline6);

  letter-spacing: 0.10em; /*----------------------*/
}

.nav__ul > *:not(:last-child) {
  margin-right: 46px;
}

.nav__ul > *:nth-child(even):not(:last-child) {
  margin-right: 47px;
}

/* nav__li */

/* ===================================================================================================================================== */

/* main */

.main {
}

/* hero */

.hero {
  background: linear-gradient(
    var(--base-grey100) 0%,
    var(--base-grey100) 90%,
    var(--base-grey05) 90%,
    var(--base-grey05) 100%
  );
  padding: 30px 113px 14px;
  margin: 0;
}

/* hero__top */

.hero__top {
  max-width: 1140px;
  display: flex;
  align-items: center;
  padding: 25px 25px 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: var(--base-grey95);
}

/* hero__block */

.hero__block {
  display: flex;
  align-items: center;
  gap: 15px;
  max-width: 234px;
}

.hero__block:not(:last-child) {
  margin-right: 25px;
}

/* hero__heading */

.hero__heading {
  margin: 0;
  
  color: var(--base-white);
  font: var(--headline5);
}

/* hero__img */

.hero__img {
  width: 65px;
  height: 65px;
}

/* divider-vertical */

.divider-vertical {
  width: 1px;
  height: 75px;
  background-color: var(--base-grey85);
}

.divider-vertical:not(:last-child) {
  margin-right: 25px;
}

/* ------------------------------------------------------------- */

/* hero__bottom */

.hero__bottom {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  max-width: 1140px;
  max-height: 570px;
}

.hero__left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 55px;
  padding-bottom: 100px;
  background-image: url(../img/hero-bottom/left/Rectangle.png);
  background-repeat: no-repeat;
  width: 877px;
}

/* hero__author */

.hero__author {
  display: flex;
  gap: 10px;
  margin-bottom: 145px;
  cursor: pointer;
}

/* hero__author-right */

.hero__author-right {
  color: var(--base-white);
  display: flex;
  flex-direction: column;
  gap: 2px;
}

/* hero__first */

.hero__first {
  font: var(--medium-regular-text);
  opacity: 85%;
}

/* hero__second */

.hero__second {
  opacity: 40%;
  font: var(--small-regular-text);
}

/* hero__link */

.hero__link {
  margin-bottom: 25px;
  display: inline-block;
  font: var(--category);
  color: var(--blue-75);
}

/* hero__heading2 */

.hero__heading2 {
  margin: 0;
  margin-bottom: 40px;
  max-width: 598px;
  font: var(--headline2);
  color: var(--base-white);
}

/* hero__left-bottom */

.hero__left-bottom {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* hero__left-button */

.hero__left-button {
  padding: 10px 20px 10px 25px;
  display: flex;
  align-items: center;
  gap: 5px;
  font: var(--medium-bold-text);
  color: var(--base-white);
  background-color: var(--blue-75);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/* hero__player */

.hero__player {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

/* hero__audio__book-info */

.hero__audiobook-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
  color: var(--base-white);
}

/* hero__audiobook-title */

.hero__audiobook-title {
  opacity: 85%;
  font: var(--medium-regular-text);
}

/* hero__audiobook-duration */

.hero__audiobook-duration {
  opacity: 40%;
  font: var(--small-regular-text);
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* hero__right */

.hero__right {
  max-width: 263px;
  background-color: var(--base-white);
}

/* recommendations */

.hero__recommendations {
  margin: 0;
  padding: 20px 25px 19px 25px;
  font: var(--headline6);
  letter-spacing: 0.5px;
}

/* hero__list */

.hero__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hero__list-item {
  padding: 17px 25px 19px 25px;
  position: relative;
  cursor: pointer;
  border-top: 1px solid var(--base-grey15);
  transition: 0.2s;
}

.hero__list-item:hover {
  background-color: var(--base-grey05);
}

.hero__list-item::before {
  content: "";
  position: absolute;
  left: -12px;
  top: 50%;

  transform: translateY(-50%); /* ??? */

  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid var(--base-white);

  opacity: 0;
}

.hero__list-item::before:hover {
  opacity: 0.5;
}

.hero__list-item.is-active::before {
  opacity: 1;
}

.hero__item-title {
  font: var(--category);
  margin-bottom: 8px;
  display: block;
}

.hero__title-blue {
  color: var(--bluegreen-75);
}

.hero__title-grey-blue {
  color: var(--grey-blue-75);
}

.hero__title-purple {
  color: var(--purple-75);
}

.hero__title-orange {
  color: var(--orange-75);
}

.hero__title-green {
  color: var(--green-75);
}

.hero__item-desc {
  font: var(--medium-regular-text);
  color: var(--base-grey85);
}

.hero__item-desc img{
  vertical-align: middle;
}


/* ===================================================================================================================================== */

.main {
  background-color: var(--base-grey05);
}

/* articles */

.articles {
  max-width: 1140px;
  margin: 0 auto;
  padding: 16px 0px 60px 0px;
}

.articles__list {
  display: grid;
  grid-template-columns: 263px 263px 263px 263px;
  grid-template-rows: 170px 170px 170px 170px;
  column-gap: 29px;
  row-gap: 30px;
} 

.articles__block {
  background-color: var(--base-white);
  border-radius: 12px;
}

.articles__block_first {
  padding: 35px;
  grid-column: 1/3;
  grid-row: 1/3;
}

.articles__left {
  display: inline-block;
  max-width: 228px;
  position: relative;
}

.articles__left::before {
  content: "";
  position: absolute;
  background-image: url(../img/articles-img/car-img.png);
  width: 292px;
  height: 299px;
  top: -20px;
  left: 228px;
}

.articles__block-category {
  font: var(--category);
  color: var(--grey-blue-75);
  margin-bottom: 20px;
  display: inline-block;
  height: 15px;
}

.articles__h3 {
  font: var(--headline3);
  color: var(--base-grey100);
  margin: 0;
  margin-bottom: 25px;
}

.articles__desc {
  font: var(--medium-regular-text);
  color: var(--base-grey85);
  margin: 0;
  margin-bottom: 49px;
}

.articles__block-bottom {
  display: flex; 
  align-items: center;
  border-top: 1px solid var(--base-grey15);
  padding: 12px 0px 13px 0px;
  max-height: 56px;
}

.articles__block-bottom-img {
  margin-right: 10px;
}


.articles__name {
  font: var(--medium-bold-text);
  color: var(--base-grey100);
  width: 88px;
  margin-right: 5px;
}

.articles__name-desc {
  font: var(--medium-regular-text);
  color: var(--base-grey85);
  margin-right: 15px;
}

.articles__chat-icon {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

.articles__quantity-com {
  font: var(--small-regular-text);
  color: var(--base-grey50);
}



/* ----------------------------------------------------------------------------------- */

.articles__block_second {
  grid-row: 1/3;
  padding: 25px;
  background-image: url("../img/articles-img/background-second-block.png");
  max-height: 370px;
  position: relative;
}

.articles__block_second::before {
  content: "Popular";
  position: absolute;
  font: var(--small-bold-text);
  color: var(--base-white);
  background-color: var(--green-75);
  padding: 5px 12px;
  border-radius: 3px;
  max-width: 66px;
  max-height: 25px;
}

.articles__second-category {
  display: inline-block;
  margin-top: 160px;
  margin-bottom: 10px;
  font: var(--category);
  color: var(--purple-24);
  height: 15px;
}

.articles__second-h5 {
  font: var(--headline5);
  color: var(--base-white);
  margin: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.articles__second-bottom {
  display: flex;
  gap: 10px;
  max-height: 45px;
}

.articles__second-avatar {
  width: 45px;
}

.articles__author {
  display: block;
  font: var(--medium-regular-text);
  color: var(--base-white);
  margin-bottom: 2px;
}

.articles__date {
  display: inline-block;
  font: var(--small-regular-text);
  color: var(--base-white);
  opacity: 40%;
  margin-right: 10px;
}

.articles__second-chat-icon {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  opacity: 40%;
}

.articles__chat-quantity {
  display: inline-block;
  font: var(--small-regular-text);
  color: var(--base-white);
  opacity: 40%;
  margin-right: 10px;
}

.articles__like-icon {
  vertical-align: middle;
  margin-right: 5px;
}

.articles__like-quantity {
  font: var(--small-regular-text);
  color: var(--base-white);
  opacity: 40%;
  display: inline-block;
}


/* ----------------------------------------------------------------------------------- */


.articles__block_third {
  background-color: var(--grey-blue-75);
  grid-row: 1/5;
  max-height: 770px;
}

.articles__third-h6 {
  margin: 0;
  font: var(--headline6);
  color: var(--base-white);
  text-transform: uppercase;
  padding: 20px 25px 19px 25px;
  border-bottom: 1px solid var(--base-grey50);
}

.articles__third-body {
  padding: 0 25px;
}

.articles__third-block {
  padding: 45px 0px 39px 10px;
  border-bottom: 1px solid var(--base-grey50);
  position: relative;
}

.articles__third-block::before {
  content: "";
  position: absolute;
  background-image: url(../img/articles-img/articles-third-img/Quote.png);
  opacity: 75%;
  width: 40px;
  height: 40px;
  top: 35px;
  left: 0px;
}

.articles__third-h4 {
  font: var(--headline4);
  color: var(--base-white);
  margin: 0;
  margin-bottom: 15px;
}

.articles__third-author {
  display: flex;
  gap: 10px;
}

.articles__third-author-info {
}

.articles__third-name {
  display: block;
  color: var(--grey-blue-25);
  font: var(--medium-regular-text);
  margin-bottom: 4px;
}

.articles__third-role {
  color: var(--grey-blue-25);
  font: var(--small-regular-text);
}

.articles__link {
  display: inline-block;
  padding: 11px 98px 14px 97px;
  font: var(--medium-bold-text);
  color: var(--base-white);
}

/* ----------------------------------------------------------------------------------- */

.articles__block_fourth {
  grid-row: 3/5;
}

.articles__fourth-img {
  display: block;
}

.articles__fourth-h5 {
  padding: 15px 30px 25px;
  margin: 0;
  font: var(--headline5);
  color: var(--base-grey100);
}

/* ----------------------------------------------------------------------------------- */

.articles__fifth {
  padding: 25px 25px 30px;
}

.articles__fifth-h5 {
  font: var(--headline5);
  color: var(--base-grey100);
  margin: 0;
  margin-bottom: 5px;
}

.articles__fifth-desc {
  font: var(--medium-regular-text);
  color: var(--base-grey85);
  margin: 0;
  margin-bottom: 10px;
}

.articles__fifth-date {
  font: var(--small-regular-text);
  color: var(--base-grey50);
}


/* ===================================================================================================================================== */


/* cta section */

.cta {
  background-image: url(../img/cta-image/backgound-image.png);
  padding: 50px 210px 55px;
  text-align: center;
}

.cta__h2 {
  font: var(--headline2);
  color: var(--base-white);
  margin: 0;
  margin-bottom: 25px;
}

.cta__btn {
  padding: 10px 20px 10px 25px;
  border-radius: 20px; 
  border: none;
  background-color: var(--blue-75);
  color: var(--base-white);
}

.cta__btn img {
  vertical-align: middle;
}



/* ===================================================================================================================================== */

/* news */

.news {
  padding: 60px 113px 60px;
  background-color: var(--base-grey05);
  display: flex;
  gap: 29px;
}

.news__left {
  padding: 0 25px;
  max-width: 848px;
  background-color: var(--base-white);
  border-radius: 10px;
}

.news__block-left {
  display: flex;
  gap: 25px;
  max-height: 245px;
  padding-top: 25px;
  padding-bottom: 25px;
  cursor: pointer;
  position: relative;
}

.news__block-left:not(:last-child) {
  border-bottom: 1px solid var(--base-grey15);
}

.news__block-left-top {
  display: flex;
  justify-content: space-between;
}

.news__block-favorites {
  position: relative;
}

.news__block-favorites::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 18px;
  left: -10px;
  background-color: var(--base-grey30);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.news__block-favorites.is-active::before {
  background-color: var(--red-75);
}

.news__block-favorites::after {
  content: "";
  position: absolute;
  top: 14px;
  left: -10px;

  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 5px solid var(--base-white);
}

.news__block-category {
  font: var(--category);
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 15px;
}

.news__block-category_blue {
  color: var(--blue-75);
}

.news__block-category_bluegreen {
  color: var(--bluegreen-75);
}

.news__block-category_red {
  color: var(--red-75);
}

.news__block-category_purple {
  color: var(--purple-75);
}

.news__block-h4 {
  font: var(--headline4);
  color: var(--base-grey100);
  margin: 0;
  margin-bottom: 10px;
}

.news__block-desc {
  font: var(--medium-regular-text);
  color: var(--base-grey85);
  margin: 0;
  margin-bottom: 20px;
}

.news__block-info {
  display: flex;
}

.news__block-date {
  font: var(--small-regular-text);
  color: var(--base-grey50);
  margin-right: 10px;
}

.news__block-chat {
  margin-right: 5px;
}

.news__block-quantity {
  font: var(--small-regular-text);
  color: var(--base-grey50);
  margin-right: 10px;
}

.news__block-likes {
  margin-right: 5px;
}

/* ---------------------------------------------------------------------------------------------------------------------------------- */

.news__right {
  max-width: 263px;
  max-height: 812px;
  background-color: var(--base-white);
  border-radius: 10px;
}

.news__h6 {
  font: var(--headline6);
  color: var(--base-grey100);
  text-transform: uppercase;
  padding: 20px 25px 19px;
  border-bottom: 1px solid var(--base-grey15);
  margin: 0;
}

.news__right-body {
  padding: 17px 25px 0px;
}

.news__right-block {
  cursor: pointer;
  display: flex;
  gap: 10px;
  width: 213px;
  padding-bottom: 17px;
  padding-top: 17px;
}

.news__right-block:not(:last-child) {
  border-bottom: 1px solid var(--base-grey15);
}

.news__right-block-img {
  max-height: 60px;
  vertical-align: middle;
}

.news__right-title {
  display: inline-block;
  font: var(--medium-regular-text);
  color: var(--base-grey85);
  margin-bottom: 5px;
}

.news__right-activity {
  font: var(--small-regular-text);
  color: var(--base-grey50);
}

.news__right-link {
  font: var(--medium-bold-text);
  color: var(--base-grey50);
  display: inline-block;
  padding: 11px 98px 14px 97px;
  border-top: 1px solid var(--base-grey15);
  cursor: pointer;
}


/* ===================================================================================================================================== */


/* highlighted-news */

.highlighted-news {
  padding: 60px 113px;
  display: grid;
  grid-template-columns: 263px 263px 263px 263px;
  grid-template-rows: 170px 170px 170px;
  column-gap: 29px;
  row-gap: 30px;
  background-color: var(--base-grey100);
}

.highlighted-news__block {
  border-radius: 10px;
  cursor: pointer;
}

.highlighted-news__first-block {
  background-image: url(../img/highlighted-news-image/Image.png);
  grid-column: 1/3;
  grid-row: 1/4;
  padding: 50px 50px 40px;
  text-align: center;
  position: relative;
}

.highlighted-news__first-block::before {
  content: "hot";
  position: absolute;
  top: 18px;
  left: 18px;
  color: var(--base-white);
  background-color: var(--red-75);
  width: 45px;
  height: 25px;
  padding: 5px 12px 5px 12px;
  font: var(--small-bold-text);
  border-radius: 4px;
}

.highlighted-news__img {
  display: block;
  justify-self: center;
  margin-bottom: 8px;
}

.highlighted-news__name {
  font: var(--medium-regular-text);
  color: var(--base-white);
  display: block;
  margin-bottom: 2px;
}

.highlighted-news__role {
  font: var(--small-regular-text);
  color: var(--base-white);
  opacity: 40%;
  display: inline-block;
  margin-bottom: 30px;
}

.highlighted-news__h2 {
  font: var(--headline2);
  color: var(--base-white);
  margin: 0;
  margin-bottom: 45px;
}

.highlighted-news__btn {
  padding: 10px 25px 10px 20px;
  border: none;
  border-radius: 18px;
  font: var(--medium-bold-text);
  color: var(--base-white);
  background-color: var(--blue-75);
  margin-bottom: 105px;
}

.highlighted-news__btn img {
  vertical-align: middle;
  margin-right: 10px;
}

.highlighted-news__quantity {
  font: var(--medium-regular-text);
  color: var(--blue-25);
  margin-left: 5px;
}

.highlighted-news__list {
  display: flex;
  gap: 17px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-self: center;
}

.highlighted-news__item {
  width: 8px;
  height: 8px;
  background-color: var(--base-grey15);
  border-radius: 50%;
}

.highlighted-news__item.is-active {
  background-color: var(--base-white);
  outline: 2px solid var(--base-white);
  outline-offset: 4px;
}


/* ---------------------------------------------------------------------------------------------------------------------------------- */

.highlighted-news__second-block {
  background-color: var(--grey-blue-50);
  grid-column: 3/5;
  grid-row: 1/3;
  padding: 35px 277px 50px 35px;
  position: relative;
}

.highlighted-news__second-block::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 250px;
  background-image: url(../img/highlighted-news-image/Image2.png);
  width: 275px;
  height: 352px;
}

.highlighted-news__category {
  font: var(--category);
  color: var(--grey-blue-75);
  display: inline-block;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.highlighted-news__h3 {
  margin: 0;
  margin-bottom: 15px;
  font: var(--headline3);
  color: var(--base-grey100);
}

.highlighted-news__desc {
  font: var(--medium-regular-text);
  color: var(--base-grey85);
  margin: 0;
  margin-bottom: 25px;
  max-width: 213px;
}


/* ===================================================================================================================================== */