:root {
  /* colors */
  --base-white: #ffffff;

  --base-grey15: #D9DADB;
  --base-grey30: #BCBFC2;
  --base-grey50: #939699;
  --base-grey85: #4B5157;
  --base-grey100: #262D33;

  --grey-blue-25: #D1E2EB;
  --grey-blue-75: #6E99AE;
  --blue-75: #4592FF;
  --bluegreen-75: #3BBDC4;
  --red-75: #FF4F52;
  --purple-24: #E7D9FF;
  --purple-75: #AC8EE3;
  --orange-75: #FFA34D;
  --green-75: #3DC47E;

  --twitter: #1DA1F2;
  --facebook: #4267B2;

  /* fonts */
  --small-regular-text: 400 12px/15px "Lato";
  --small-bold-text: 800 12px/15px "Lato";

  --medium-regular-text: 400 14px/20px "Lato";
  --medium-bold-text: 700 14px/20px "Lato";
  --medium-heavy-text: 800 14px/ "Lato";
  
  --headline6: 14px 800/20px;
  --headline5: 16px 700/25px "Roboto Slab";
  --headline4: 20px 700/25px "Roboto Slab";
  --headline3: 25px 700/30px "Roboto Slab";
  --headline2: 40px 700/50px "Roboto Slab";
  --headline1: 55px 700/70px "Roboto Slab";

  --category: 12px 800/15px "Lato";
}

/* padding для body необязателен на самом деле */

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
}

img {
  max-width: 100%;
}

/* -------------------------------------------------------------- */
/* components */



/* -------------------------------------------------------------- */

.header,
.main,
.fotter {
  max-width: 1366px;
  margin: 0 auto;
}

/* header */

.header {
  justify-content: center;
}

.section-in-header {
  /* margin: 0 auto; */
  width: 1140px; 
  max-height: 135px;
}

/* section-in-header__top */

.section-in-header__top {
  display: flex;
  border-bottom: 1px solid var(--base-grey15);
  max-height: 50px;
  align-items: center;
  padding: 0 auto;
}

/* section-in-header__left-block */

.section-in-header__left-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  max-width: 115px;
  padding: 15px 25px 15px 0px;
  border-right: 1px solid var(--base-grey15);
}

/* section-in-header__sections */

.section-in-header__sections-text {
  font: var(--medium-bold-text);
}

/* sectjion-in-header__input */

.section-in-header__input {
  width: 733px;
  font: var(--medium-regular-text);
  padding-left: 55px;

  background-image: url("../img/header-img/Search.png");
  background-repeat: no-repeat;
  background-position: 12px center;
  background-size: 16px 16px;

  border: none;
}

/* section-in-header__right-block */

.section-in-header__subscribe-block {
  display: flex;
  gap: 10px;
  max-width: 195px;
  padding-top: 7px;
  margin-right: 60px;
}

/* section-in-header__image */

.section-in-header__image {
  width: 66px;
  height: 44px;
  object-fit: cover;
  display: block;
  border-left: 3px solid var(--base-grey30);
  border-top: 3px solid var(--base-grey30);
  border-right: 3px solid var(--base-grey30);
  /* image-rendering: crisp-edges; или pixelated не помогло */
}

/* section-in-header__subscribe */

.section-in-header__subscribe-block-right {
  display: inline-block;
  margin-top: 4px;
}

/* section-in-header__sign-in-block */

.section-in-header__first {
  display: block;
  font: var(--small-bold-text);
  color: var(--base-grey100);
}

/* section-in-header__second */

.section-in-header__second {
  display: block;
  font: var(--small-regular-text);
  color: var(--base-grey50);
}

/* section-in-header__sign-in-block */

.section-in-header__sign-in-block {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* section-in-header__link */

.section-in-header__link {
  font: var(--medium-regular-text);
  color: var(--base-grey85);
}

/* section-in-header__bottom */

.section-in-header__bottom {
  display: flex;
  align-items: center;
}
/* section-in-header__left-img */

.section-in-header__left-img {
  margin-left: 30px;
  margin-right: 15px;
  display: inline-block;
}

/* section-in-header__title */

.section-in-header__title {
  font: var(--medium-regular-text);
  color: var(--base-grey85);
}

/* section-in-header__Logo */

.section-in-header__Logo {
  margin-left: 130px;
  margin-right: 186px;
}

/* section-in-header__date */

.section-in-header__date {
  /* width: 195px; */
  margin-right: 64px;
  font: var(--medium-regular-text);
  color: var(--base-grey85);
}

/* section-in-header__weather-block */

.section-in-header__weather-block {
  display: flex;
  gap: 10px;
}

/* section-in-header__value */

.section-in-header__value {
  font: var(--medium-regular-text);
  color: var(grey85);
}

/* ------------------------------------------------------------ */


.main {

}