/* padding для body необязателен на самом деле */

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Arial", sans-serif; 
}

img {
  max-width: 100%;
}

